@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff") format("woff"),
    url("/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.woff2") format("woff2"),
    url("/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.woff") format("woff"),
    url("/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2") format("woff2"),
    url("/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff") format("woff"),
    url("/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

:before,
:after {
    ---content: "";
}

:root,
html[data-theme="light"] {
    --color-fill: 251, 254, 251;
    --color-text-base: 40, 39, 40;
    --color-accent: 0, 108, 172;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
}

html[data-theme="dark"] {
    --color-fill: 33, 39, 55;
    --color-text-base: 234, 237, 243;
    --color-accent: 255, 107, 1;
    --color-card: 52, 63, 96;
    --color-card-muted: 138, 51, 2;
    --color-border: 171, 75, 8;
}


html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    line-height: inherit;
    display: flex;
    min-height: 100svh;
    flex-direction: column;
    ---bg-opacity: 1;
    background-color: rgba(var(--color-fill), var(---bg-opacity));
    font-family: IBM Plex Mono, monospace;
    ---text-opacity: 1;
    color: rgba(var(--color-text-base), var(---text-opacity));
}

body *::-moz-selection {
    background-color: rgba(var(--color-accent), var(---bg-opacity));
    ---bg-opacity: 0.7;
    ---text-opacity: 1;
    color: rgba(var(--color-fill), var(---text-opacity));
}

body *::selection {
    background-color: rgba(var(--color-accent), var(---bg-opacity));
    ---bg-opacity: 0.7;
    ---text-opacity: 1;
    color: rgba(var(--color-fill), var(---text-opacity));
}

body::-moz-selection {
    background-color: rgba(var(--color-accent), var(---bg-opacity));
    ---bg-opacity: 0.7;
    ---text-opacity: 1;
    color: rgba(var(--color-fill), var(---text-opacity));
}

body::selection {
    background-color: rgba(var(--color-accent), var(---bg-opacity));
    ---bg-opacity: 0.7;
    ---text-opacity: 1;
    color: rgba(var(--color-fill), var(---text-opacity));
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
    border-color: rgba(var(--color-border));
}

.post hr {
    margin: 20px 0;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

h1 a.anchor-link,
h2 a.anchor-link,
h3 a.anchor-link,
h4 a.anchor-link,
h5 a.anchor-link,
h6 a.anchor-link {
    opacity: 0;
}


h1:hover a.anchor-link,
h2:hover a.anchor-link,
h3:hover a.anchor-link,
h4:hover a.anchor-link,
h5:hover a.anchor-link,
h6:hover a.anchor-link {
    opacity: 1;
    display: inline-block;
    margin-left: 5px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}


code,
kbd,
samp,
pre {
    font-family: IBM Plex Mono, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
}

p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

dialog {
    padding: 0;
}

textarea {
    resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}
img {
    border: 2px solid rgb(var(--color-border));
}
[hidden] {
    display: none;
}

#sun-svg,
html[data-theme="dark"] #moon-svg {
    display: none;
}

#moon-svg,
html[data-theme="dark"] #sun-svg {
    display: block;
}


a {
    outline-width: 2px;
    outline-offset: 1px;
    outline-color: rgb(var(--color-accent));
}

a:focus-visible {
    text-decoration-line: none;
    outline-style: dashed;
}

a:hover {
    --text-opacity: 1;
    color: rgba(var(--color-accent), var(--text-opacity));
}

a:not(.icon-link) {
    text-underline-offset: 7px;
    text-decoration-style: dashed;
    text-decoration-line: underline;
}

.icon-link {
    display: inline-block;
}

.icon-link svg {
    width: 22px;
    height: 22px;
    fill: rgba(var(--color-text-base));
}

.icon-link:hover svg,
.icon-link:hover svg {
    transform: rotate(12deg);
    fill: rgb(var(--color-accent)) !important;
}

/* Single Post */
.post p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.post :where(h2+*) {
    margin-top: 0 !important;
}

.post h2 {
    color: rgba(var(--color-text-base));
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: .75rem;
    line-height: 1.3333333;
}

.post ul {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
}

.post ol > li,
.post ul > li {
    padding-inline-start: .375em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.post ol > li::marker,
.post ul > li::marker {
    color: rgb(var(--color-accent));
}

.post ol {
    list-style: auto;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
}
/* Syntax highlight start */
.enlighter-code {
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(var(--color-border));
}

/* Syntax highlight end */